*{
    margin: 0;
    padding: 0;
}
.overall{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80vw;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.ans{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card{
    padding: 5px;
    margin: 5px;
    background-color: antiquewhite;
}
.general h6{
    font-size: 1em;
}
.general p{
    font-size: 1.2em;
}
.general, .sessionTotal{
    background-color: rgba(240, 248, 255, 0.4);
    margin: 5px 0;
    padding: 5px;
}

.sessionTotal h6{
    font-size: 0.9em;
}
.sessionTotal p{
    font-size: 0.8em;
}
.sessions{
    margin-bottom: 10px;
}